html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
h1 {
    font-size: 60px;
    font-weight: bold;
}
.box{
    width: 100%-20;
    height: 1250px;
}
.box1{
    width: 100%-20;
    height: 200px;
    padding: 10px 10px;
}
.box1-1{
    padding: 10px 10px;
    text-align: center;
    line-height: 90px;
    height: 180px;
    background-color: rgb(255, 241, 186);
}
.box2{
    width: 100%-20;
    height: 50px;
    padding: 10px 10px;
}
.box2-1{
    padding: 10px 10px;
    text-align: center;
    line-height: 15px;
    height: 30px;
    background-color: rgb(194, 190, 175);
}
.box3{
    float: left;
    height: 1000px;
    width: 18%;
    padding: 10px 10px;
}
.box3-1{
    padding: 10px 10px;
    text-align: center;
    line-height: 490px;
    height: 980px;
    background-color: rgb(255, 241, 186);
}
.box4{
    float: left;
    height: 1000px;
    width: 60.84%;
    padding: 10px 10px;
}
.box4-1{
    padding: 10px 10px;
    text-align: center;
    line-height: 490px;
    height: 980px;
    background-color: rgb(255, 241, 186);
}
.box5{
    float: left;
    height: 1000px;
    width: 18%;
    padding: 10px 10px;
}
.box5-1{
    padding: 10px 10px;
    text-align: center;
    line-height: 490px;
    height: 980px;
    background-color: rgb(255, 241, 186);   
}
a{ 
    text-decoration: none;
}/*不要底線*/
.nav-link1{ 
    float: left;
    display: block;
    padding: 0 10px;
    text-align: center;
    line-height: 30px;
}/*與邊框距離*/
.nav-link2{ 
    float: right;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 30px;
}/*與邊框距離*/
.nav-link3{ 
    float: right;
    display: block;
    padding: 0px 10px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}/*與邊框距離*/

